* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

header {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111a35;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    height: 60px;
}

.title {
    /* border: 1px solid black; */
    color: white;
}

.menus {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    height: 40px;
}

.menu {
    /* border: 1px solid rgb(164, 160, 160); */
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(202, 202, 213);
    color: black;
    cursor: pointer;
}

.menu:hover {
    border: 1px solid blue;
}

.actv {
    background-color: blue;
    color: white;
}

.formgenbar {
    min-width: 400px;
    padding: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}

.formgenbar h3 {
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    height: 30px;
}

.inpt {
    /* border: 1px solid black; */
    height: 40px;
    display: flex;
    align-items: center;
}

.inpt label {
    /* border: 1px solid black; */
    width: 120px;
    margin-right: 10px;
}

.inpt input {
    border: 1px solid rgb(202, 202, 202);
    height: 30px;
    outline: none;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
}

.inpt input:focus {
    border: 1px solid blue;
}

.btn-prev {
    outline: none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(73, 73, 200);
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.btn-prev:hover {
    background-color: blue;
}

.preview-bar {
    width: 100%;
    /* border: 1px solid black; */
    background-color: white;
    border-radius: 5px;
    height: 100%;
}

.barcode-wraper {
    /* border: 1px solid black; */
    display: flex;
    height: 8mm;
    margin-bottom: 5px;
}

.barcode {
    width: 41mm;
    height: 8mm;
    border: 1px solid rgb(230, 227, 227);
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
}

.codebar {
    width: 8mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    padding-left: 5px;
    padding-right: 5px;
}

img {
    /* border: 1px solid black; */
    height: 8mm;
    width: 26mm;
}

.barcode-status {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.barcode-status span {
    width: 80px;
    /* border: 1px solid black; */
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.generate-barcode-actions {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.condis {
    padding-left: 10px;
    padding-right: 10px;
}

/* toggle */
.condis.hide {
    display: none;
}

.condis {
    display: flex;
}

.stick {
    position: sticky;
    top: 120px;
}

.cnBar {
    /* width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cbbtnr {
    border: 1px solid rgb(225, 224, 224);
    padding: 10px;
    border-radius: 5px;
}

.pheader {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 1px 2px 1px 1px rgb(227, 227, 231);
}

.btn-fix {
    margin: 0;
    margin-right: 10px;
    font-size: 14px;
    height: 30px;
}

.body-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(128, 128, 128);
    opacity: 0.3;
    z-index: 9999;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid blue;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 99999;
}

.loader-text {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: 60px;
    font-size: 14px;
    font-weight: bold;
    z-index: 99999;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#status-barcode-for-printed {
    color: rgb(226, 40, 40);
}